*{
    padding: 0;
    margin:0;
   
    /* hsl(233, 47%, 7%) */
}
body{
    background-color:hsl(233, 47%, 7%);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding: 10%;  
}
section{
    display: flex;
    width: 2000px;;

}
.data{
min-width:800px;
padding:100px;
border-radius:20px 0 0 20px;
background-color:  hsl(244, 38%, 16%);
}
h1{
    font-family: inter;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
    color:hsl(0, 0%, 100%);
}
.dataspan{
    color:hsl(277, 64%, 61%);
}
p{
    font-family:'Lexend', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color:hsla(0, 0%, 100%, 0.75);
    margin-bottom:50px;
}
.detail{
    display: flex;
}
.stat{
    margin: 0 auto;
}
h1#stath{
    margin-top:50px ;
    font-size: 2rem;
    color:hsla(0, 0%, 100%, 0.6);
}
img{
   min-width:1000px;
   border-radius:0 20px 20px 0 ;
}
@media (max-width:500px){
 section{
    flex-direction: column-reverse;
    display: flex;
    width:300px;
    
 }
 img{

    min-width:300px;  
    border-radius:20px 20px 0 0;
 }
 .data{
    min-width:260px;
    padding:20px;
    text-align: center;
    border-radius:0 0 20px 20px;
 }
 h1{
    font-size:1.5rem;
    margin-bottom:40px;
 }
 p{
    font-size: 0.8rem;
 }
 .detail{
    flex-direction: column;
 }
 h1#stath{
    margin-top:0 ;
    font-size: 1.5rem;
}
.stat:hover{
    -webkit-transform: scale(1.1);
}
}

